@mixin bgPurpleGradient() {
    background-image: linear-gradient(
    to right,
    #6676e2 0%,
    #6173e9 51%,
    darken($purple, 10%) 100%
  );
}
.bg-purple {
    background-color: #6c7cf0;
}
.bg-alt-purple {
    background-color: #bc8ccf;
}
.bg-red {
  background-color: #ff8986;
}

.bg-purple--gradient {
    background-image: linear-gradient(
    to right,
    #6676e2 0%,
    #6173e9 51%,
    $purple 100%
  );
}

.v-slider__tick-label {
  color: $purple;
}